{
  "presets": ["es2015"],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "syntax-decorators",
    "transform-decorators",
    "transform-function-bind",
    "transform-class-properties",
    "babel-plugin-transform-es2015-classes",
    "babel-plugin-transform-es2015-modules-umd"
  ]
}
